<div class="style1">
  <form>
    <label>ID</label>
    <input type="text" class="style2" name = "title"[(ngModel)]="id" placeholder="Your ID..">

    <label>Name</label>
    <input type="text" class="style2" name = "title"[(ngModel)]="name" placeholder="Your name..">

    <label>Salary</label>
    <input type="text" class="style2" name = "title"[(ngModel)]="sal" placeholder="Your salary..">

    <label>Department</label>
    <input type="text" class="style2" name = "title"[(ngModel)]="dept" placeholder="Your department..">


    <input type="button" (click)="onAddEmp()"class="style3" value="Add Employee">
  </form>
</div>


